$pale-grey: #f8f9fb
$white: #ffffff
$dark-indigo: #0a1f44
$dark-indigo_0: rgba(10, 31, 68, 0.12)
$dark-indigo_8: rgba(10, 31, 68, 0.08)
$dark-indigo_1: rgba(10, 31, 68, 0.1)
$deep-sky-blue: #007fff
$pale-blue: #e1e4e8
$slate: #53627c
$blue: #0c66ff
$blue_1: #0d55cf
$blue-grey: #8a94a6
$light-grey-blue: #a6aebc
$green-teal: #0bb07b
$orangey-red: #f03d3d
// $pale-grey: #ebf5ff
$aqua-marine: #3ed3a3
$yellow: #ffa800
$cloudy-blue: #b5bbc6
$black-5: rgba(0, 0, 0, 0.5)
$orange-red: #f03d3d
$green-blue: #22c993
$dark-slate-blue: #182c4f
$vermillion: #dd2727

.dark-indigo
    color: $dark-indigo
.blue-grey
    color: $blue-grey
.slate
    color: $slate
.orange-red
    color: $orangey-red
.light-grey-blue
    color: $light-grey-blue
.vermillion
    color: $vermillion