.courses
    width: calc(100% - 80px)
    &__header
        display: flex
        // justify-content: space-between
        position: relative
        .page-name
            font-family: "SFProDisplaySemibold", sans-serif
            padding: 7px 0

// MOBILE     
@media screen and (max-width: 425px)
    .courses
        padding-top: 20px
        &__header
            .navigation
                display: none

@media screen and (max-width: 320px)
    .courses
        padding-left: 20px!important
        padding-right: 20px!important
        width: calc(100% - 40px)
        padding-top: 20px!important

@media screen and (min-device-width: 768px)

// IPAD
@media screen and (orientation: landscape)

@media screen and (orientation: portrait)

// COMBINATION
@media screen and (min-width: 800px) and (max-width: 1200px)