.current-course
    width: 100%
    &__header
        display: flex
        // justify-content: space-between
        position: relative
        .page-name
            font-family: "SFProDisplaySemibold", sans-serif
            padding: 7px 0
            display: inline-block
            width: 360px
            white-space: nowrap
            overflow: hidden !important
            text-overflow: ellipsis
    &__description
        .page-description
            width: 100%
    &__lesson-table
        width: 100%
        height: 544px
        border-radius: 4px
        box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
        background-color: $white
        overflow: hidden
        .row
            display: flex
            height: 54px
            border-bottom: 1px solid $pale-blue
            padding: 0 24px
            line-height: 52px
            color: $blue-grey
            cursor: pointer
            .name
                width: 35%
            .time
                width: 17.5%
            .task
                width: 17.5%
            .status
                width: 30%
            .name, .time, .task, .status
                svg
                    margin-right: 9px
            &.passed
                color: $dark-indigo
                .status.pass
                    color: $aqua-marine
                .status.process
                    color: $yellow
                    svg
                        transform: rotate(-45deg)
        &__head
            .row
                border-bottom: 2px solid $light-grey-blue
        &__body
            height: 490px
            overflow-y: auto
            &::-webkit-scrollbar-track
                -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                border-radius: 10px
                background-color: $pale-blue
            &::-webkit-scrollbar
                width: 8px
                background-color: $cloudy-blue
            &::-webkit-scrollbar-thumb
                border-radius: 10px
                -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                background-color: $cloudy-blue

// MOBILE
@media screen and (max-width: 1024px)
    .current-course
        &__header
            .page-name
                width: 360px
            .navigation
                display: none
        &__lesson-table
            &__head
                .time
                    display: none
                .status, .name, .task
                    width: 33.3%!important
            &__body
                .time
                    display: none
                .status, .name, .task
                    width: 33.3%!important
                    
@media screen and (max-width: 768px)
    .current-course
        &__header
            .page-name
                width: 360px
            .navigation
                display: none
        &__lesson-table
            &__head
                .time
                    display: none
                .status, .name, .task
                    width: 33.3%!important
            &__body
                .time
                    display: none
                .status, .name, .task
                    width: 33.3%!important

@media screen and (max-width: 426px)
    .current-course
        width: 100%
        padding-left: 10px!important
        padding-right: 10px!important
        padding-top: 20px!important
        &__header
            .page-name
                font-size: 1rem!important
                width: 73%
            .navigation
                display: none
            .add-course
                margin: 0
                line-height: 1
                width: 31px!important
                span:nth-child(1)
                    margin: 0
                span:nth-child(2)
                    display: none    
        &__description
            width: 81%
        &__lesson-table
            margin-top: 20px!important
            width: calc(100% - 20px)
            &__head
                .time
                    display: none
                .status, .name, .task
                    width: 33.3%!important
                .row
                    padding: 0 5px
                    .name, .status, .task
                        font-size: 0.6rem
                        width: 33.3%
            &__body
                .time
                    display: none
                .status, .name, .task
                    width: 33.3%!important
                .row
                    font-size: 10px
                    padding: 0 5px
                    .status, .name, .task
                        width: 33.3%

@media screen and (max-width: 320px)
    .current-course
        &__lesson-table
            &__head
                .status, .name, .task
                    width: 33.3%!important
                .row
                    padding: 0 5px
                    .name, .status, .task
                        font-size: 0.6rem
                        width: 33.3%
            &__body
                .status, .name, .task
                    width: 33.3%!important
                .row
                    font-size: 7px
                    padding: 0 5px
                    .status, .name, .task
                        width: 33.3%

@media screen and (max-width: 240px)
    .current-course
        &__header
            width: 211px
            .page-name
                font-size: 0.6rem!important
            .add-course
                margin: 0
                line-height: 1
                span
                    font-size: 0.6rem!important    
        &__description
            font-size: 0.5rem
        &__lesson-table
            margin-top: 20px!important
            &__head
                .row
                    padding: 0 5px
                    .name, .status, .task
                        font-size: 0.6rem
                        width: 33.3%
            &__body
                font-size: 0.6rem
                .row
                    font-size: 5px
                    padding: 0 5px
                    .status, .name, .task
                        width: 33.3%
                    .task
                        div:nth-child(2)
                            display: inline-table!important