.edit-lesson
    width: 100%
    &__header
        display: flex
        position: relative
        .page-name
            font-family: "SFProDisplaySemibold", sans-serif
            padding: 7px 0
    &__body
        display: flex
        position: relative
        &__column
            &:nth-child(1)
                width: 645px
            &:nth-child(2)
                width: 315px
            &-editor
                .tox.tox-tinymce
                    border: 1px solid $pale-blue
            &__video-links
                padding: 16px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background-color: $white
                margin-top: 32px
                &-action
                    margin-top: 23px
                    display: flex
                    .button
                        color: $blue
                        padding: 16px
                    .input
                        width: calc(468px - 40px - 16px)
                        padding: 16px 40px 16px 16px
                    .link-icon
                        position: absolute
                        right: 16px
                        top: 16px
                        color: $pale-blue
            &-tasks
                padding: 16px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background-color: $white
                textarea
                    resize: none
                    +inputStyle()
                    overflow-y: auto
                    overflow-x: hidden
                    width: calc(100% - 32px)
                    height: calc(125px - 26px)
                    padding: 13px 16px
                    margin-top: 23px
                    &::-webkit-scrollbar-track
                        -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                        border-radius: 10px
                        background-color: $pale-blue
                    &::-webkit-scrollbar
                        width: 8px
                        background-color: $cloudy-blue
                    &::-webkit-scrollbar-thumb
                        border-radius: 10px
                        -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                        background-color: $cloudy-blue
                textarea:focus, textarea:active
                    +inputHoverStyle()
            &-save
                padding: 16px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background-color: $white
                &-buttons
                    display: flex
                    margin-top: 19px
                    .button
                        padding: 14px
            &-expiry
                padding: 16px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background-color: $white
                .download-file-toggle
                    display: flex
                    margin-top: 9px

            &-clickbate
                padding: 16px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background-color: $white
                .set-clickbate
                    display: flex
                    margin-top: 23px
                    .fa-image
                        position: absolute
                        right: 16px
                        top: 16px
                        color: $light-grey-blue
                    .input
                        width: calc(203px - 40px - 16px)
                        color: $light-grey-blue
                    .button
                        padding: 17px 17px
                .image-filled
                    width: 100%
                    img
                        width: 100%

// MOBILE
@media screen and (max-width: 1024px)
    .edit-lesson
        padding-left: 10px!important
        padding-right: 10px!important
        &__body
            &__column:nth-child(1)
                width: 59%
            &__column:nth-child(2)
                width: 39%
            &__column
                &__video-links-action
                    width: 100%
                    &__wrap
                        width: 100%
                        input
                            width: calc(100% - 40px - 32px)!important


@media screen and (max-width: 768px)
    .edit-lesson
        &__body
            flex-wrap: wrap
            &__column
                width: 100%!important
            &__column:nth-child(2)
                margin-left: 0
                margin-top: 16px
@media screen and (max-width: 426px)
    .edit-lesson
        .navigation
            display: none
@media screen and (max-width: 320px)    
@media screen and (max-width: 240px)
    .edit-lesson
        &__body
            &__column-clickbate
                button
                    display: none
    