@font-face
    font-family: SFProDisplayMedium
    src: url(../fonts/SF-Pro-Display-Medium.otf)
@font-face
    font-family: SFProDisplaySemibold
    src: url(../fonts/SF-Pro-Display-Semibold.otf)

.fs-24
    font-size: 24px
.fs-22
    font-size: 22px
.fs-20
    font-size: 20px
.fs-16
    font-size: 16px
.fs-14
    font-size: 14px
.fs-13
    font-size: 13px
.fs-12
    font-size: 12px
.fw-600
    font-weight: 600