.header
    +block(calc(100% - 52px), 32px, 16px 26px, 0)
    position: relative
    z-index: 102
    box-shadow: 0 8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08)
    header
        display: flex
        justify-content: space-between
        height: 100%
    &__userInfo
        display: flex
        justify-content: space-between
        padding: 5px 0
        &__notification
            cursor: pointer
            color: $light-grey-blue
        &__avatar-username
            margin-left: 24px
            .avatar
                position: relative
                bottom: 6px
                cursor: pointer
                img
                    border-radius: 50%
                    width: 32px
                    height: 32px
                .username
                    position: relative
                    bottom: 10px
                    margin-left: 13px
                .arrow
                    margin-left: 14px
                    position: relative
                    bottom: 8px
                .dropdown-menu
                    padding: 8px 0
                    width: 150px
                    height: calc(96px - 16px)
                    background-color: $white
                    position: absolute
                    top: 52px
                    // left: -80px
                    border-radius: 4px
                    box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                    &.show
                        display: block
                    &.hide
                        display: none
                    .item
                        padding: 10px 17px
                        color: $slate
                        .item-icon
                            margin-right: 12px
                        &.active
                            color: $blue
                            background-color: $pale-grey
    &__logo
        width: auto
    &-mob__logo
        display: none

// MOBILE
@media screen and (max-width: 768px)
    .header
        &__logo
            display: none
        &-mob__logo
            display: block
            position: relative
            svg
                position: absolute
                top: 50%
                transform: translateY(-50%)
        &__userInfo
            &__avatar-username
                .avatar
                    .username
                        display: none     

@media screen and (max-width: 320px)
    .header
        padding: 10px 10px
        width: calc(100% - 20px)
        .header__userInfo
            font-size: 0.7rem!important
            &__text
                margin-right: 26px
                vertical-align: middle
                line-height: 22px
            &__notification
                line-height: 22px
                vertical-align: middle

@media screen and (max-width: 240px)
    .header
        padding: 10px 10px
        width: calc(100% - 20px)
        margin-right: 15px
        .header__userInfo
            font-size: 0.5rem!important
            &__text
                margin-right: 26px
                vertical-align: middle
                line-height: 22px
            &__notification
                line-height: 22px
                vertical-align: middle
            &__avatar-username
                .avatar
                    .arrow
                        bottom: 12px



// iphone X
// @media only screen  and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3)
//     .header
