.dark-indigo {
  color: #0a1f44;
}

.blue-grey {
  color: #8a94a6;
}

.slate {
  color: #53627c;
}

.orange-red {
  color: #f03d3d;
}

.light-grey-blue {
  color: #a6aebc;
}

.vermillion {
  color: #dd2727;
}

@font-face {
  font-family: SFProDisplayMedium;
  src: url(../fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: SFProDisplaySemibold;
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}
.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.fw-600 {
  font-weight: 600;
}

.header {
  width: calc(100% - 52px);
  height: 32px;
  background: #ffffff;
  margin: 0;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 16px 26px;
  position: relative;
  z-index: 102;
  box-shadow: 0 8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
}
.header header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__userInfo {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.header__userInfo__notification {
  cursor: pointer;
  color: #a6aebc;
}
.header__userInfo__avatar-username {
  margin-left: 24px;
}
.header__userInfo__avatar-username .avatar {
  position: relative;
  bottom: 6px;
  cursor: pointer;
}
.header__userInfo__avatar-username .avatar img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.header__userInfo__avatar-username .avatar .username {
  position: relative;
  bottom: 10px;
  margin-left: 13px;
}
.header__userInfo__avatar-username .avatar .arrow {
  margin-left: 14px;
  position: relative;
  bottom: 8px;
}
.header__userInfo__avatar-username .avatar .dropdown-menu {
  padding: 8px 0;
  width: 150px;
  height: calc(96px - 16px);
  background-color: #ffffff;
  position: absolute;
  top: 52px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
}
.header__userInfo__avatar-username .avatar .dropdown-menu.show {
  display: block;
}
.header__userInfo__avatar-username .avatar .dropdown-menu.hide {
  display: none;
}
.header__userInfo__avatar-username .avatar .dropdown-menu .item {
  padding: 10px 17px;
  color: #53627c;
}
.header__userInfo__avatar-username .avatar .dropdown-menu .item .item-icon {
  margin-right: 12px;
}
.header__userInfo__avatar-username .avatar .dropdown-menu .item.active {
  color: #0c66ff;
  background-color: #f8f9fb;
}
.header__logo {
  width: auto;
}
.header__logo .item img{
  width: 45%;
}
.header-mob__logo {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__logo {
    display: none;
  }
  .header-mob__logo {
    display: block;
    position: relative;
  }
  .header-mob__logo svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .header__userInfo__avatar-username .avatar .username {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding: 10px 10px;
    width: calc(100% - 20px);
  }
  .header .header__userInfo {
    font-size: 0.7rem !important;
  }
  .header .header__userInfo__text {
    margin-right: 26px;
    vertical-align: middle;
    line-height: 22px;
  }
  .header .header__userInfo__notification {
    line-height: 22px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 240px) {
  .header {
    padding: 10px 10px;
    width: calc(100% - 20px);
    margin-right: 15px;
  }
  .header .header__userInfo {
    font-size: 0.5rem !important;
  }
  .header .header__userInfo__text {
    margin-right: 26px;
    vertical-align: middle;
    line-height: 22px;
  }
  .header .header__userInfo__notification {
    line-height: 22px;
    vertical-align: middle;
  }
  .header .header__userInfo__avatar-username .avatar .arrow {
    bottom: 12px;
  }
}
.login {
  width: 360px;
  height: 512px;
  background: #ffffff;
  margin: 60px auto;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 0px 60px;
}
.login .logo {
  width: 98.7px;
  height: 70px;
  margin: 0 auto;
  padding: 40px 0 24px 0;
}
.login .logo img {
  width: 100%;
}
.login__form div {
  width: 100%;
  display: flex;
}
.login__form input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
}
.login__form input:focus, .login__form input:active {
  border: solid 1.5px #007fff;
}
.login__form input:nth-child(1), .login__form input:nth-child(2) {
  margin-top: 24px;
}
.login__form .remember-me {
  margin-top: 20px;
}
.login__form .remember-me .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #53627c;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.login__form .remember-me .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.login__form .remember-me .container input:checked ~ .checkmark:after {
  display: block;
}
.login__form .remember-me .container input:checked ~ .checkmark-round:after {
  display: block;
}
.login__form .remember-me .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid #0c66ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login__form .remember-me .container .checkmark-round:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0c66ff;
}
.login__form .remember-me .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #0c66ff;
  border-radius: 4px;
}
.login__form .remember-me .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.login__form .remember-me .checkmark-round {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #0c66ff;
  border-radius: 50%;
}
.login__form .remember-me .checkmark-round:after {
  content: "";
  position: absolute;
  display: none;
}
.login__form .submit {
  margin-top: 22px;
}
.login__form .submit button {
  width: 100%;
  padding: 14px 0;
  background-color: #0c66ff;
  border-color: #0c66ff;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SFProDisplayMedium", sans-serif;
}
.login__form .forget-passw a {
  color: #0d55cf;
  margin: 0 auto;
  cursor: pointer;
}
.login__form__phone-wrap {
  position: relative;
}
.login__form__phone-wrap svg {
  position: absolute;
  top: 38px;
  right: 20px;
  color: #a6aebc;
}
.login__form__password-wrap {
  position: relative;
}
.login__form__password-wrap svg {
  position: absolute;
  top: 38px;
  right: 16px;
  color: #a6aebc;
}

@media screen and (max-width: 320px) {
  .login {
    width: calc(100% - 40px);
    height: auto;
    padding: 0 20px 40px 20px;
  }
}
@media screen and (max-device-width: 425px) {
  .login {
    padding: 0 20px 20px 20px;
  }
}
.restore-passw {
  width: 360px;
  height: 430px;
  background: #ffffff;
  margin: 60px auto;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 0px 60px;
}
.restore-passw .logo {
  width: 98.7px;
  height: 70px;
  margin: 0 auto;
  padding: 40px 0 24px 0;
}
.restore-passw .logo img {
  width: 100%;
}
.restore-passw__form div {
  width: 100%;
  display: flex;
}
.restore-passw__form input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
}
.restore-passw__form input:focus, .restore-passw__form input:active {
  border: solid 1.5px #007fff;
}
.restore-passw__form .submit {
  margin-top: 22px;
}
.restore-passw__form .submit button {
  width: 100%;
  padding: 14px 0;
  background-color: #0c66ff;
  border-color: #0c66ff;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SFProDisplayMedium", sans-serif;
}
.restore-passw__form .returnToAuth a {
  color: #0d55cf;
  margin: 0 auto;
  cursor: pointer;
}
.restore-passw__form__phone-wrap, .restore-passw__form__email-code-wrap {
  position: relative;
}
.restore-passw__form__phone-wrap svg, .restore-passw__form__email-code-wrap svg {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #a6aebc;
}

@media screen and (max-width: 425px) {
  .restore-passw {
    width: calc(100% - 40px);
    padding: 0 20px 20px 20px;
  }
}
@media screen and (max-width: 320px) {
  .restore-passw {
    width: calc(100% - 40px);
    height: auto;
    padding: 0 20px 40px 20px;
  }
}
.fill-profile {
  width: 360px;
  height: 635px;
  background: #ffffff;
  margin: 60px auto;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 0px 60px;
}
.fill-profile .logo {
  width: 98.7px;
  height: 70px;
  margin: 0 auto;
  padding: 40px 0 24px 0;
}
.fill-profile .logo img {
  width: 100%;
}
.fill-profile__form div {
  width: 100%;
  display: flex;
}
.fill-profile__form input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
}
.fill-profile__form input:focus, .fill-profile__form input:active {
  border: solid 1.5px #007fff;
}
.fill-profile__form .sex .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #53627c;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fill-profile__form .sex .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.fill-profile__form .sex .container input:checked ~ .checkmark:after {
  display: block;
}
.fill-profile__form .sex .container input:checked ~ .checkmark-round:after {
  display: block;
}
.fill-profile__form .sex .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid #0c66ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fill-profile__form .sex .container .checkmark-round:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0c66ff;
}
.fill-profile__form .sex .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #0c66ff;
  border-radius: 4px;
}
.fill-profile__form .sex .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.fill-profile__form .sex .checkmark-round {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #0c66ff;
  border-radius: 50%;
}
.fill-profile__form .sex .checkmark-round:after {
  content: "";
  position: absolute;
  display: none;
}
.fill-profile__form .submit {
  margin-top: 22px;
}
.fill-profile__form .submit button {
  width: 100%;
  padding: 14px 0;
  background-color: #0c66ff;
  border-color: #0c66ff;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SFProDisplayMedium", sans-serif;
}
.fill-profile__form .forget-passw a {
  color: #0d55cf;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .fill-profile {
    width: calc(100% - 120px);
    padding: 0 30px;
  }
}
@media screen and (max-width: 240px) {
  .fill-profile {
    padding: 0 15px;
    width: calc(100% - 30px);
  }
}
.left-menu {
  width: 224px;
  height: 736px;
  background: #ffffff;
  margin: 0;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 30px 0;
  border-radius: 0;
  position: relative;
  min-width: 224px;
  max-width: 225px;
  float: left;
  height: calc(100vh - 127px);
  box-shadow: 3px 0 4px 0 rgba(10, 31, 68, 0.1);
}
.left-menu .select-item {
  cursor: pointer;
  color: #a6aebc;
  padding-right: 32px;
  padding-left: 23px;
}
.left-menu .select-item.active {
  border-left: 2px solid #0d55cf;
  color: #0d55cf;
}
.left-menu__footer {
  position: absolute;
  bottom: 9px;
}

@media screen and (max-width: 768px) {
  .left-menu {
    display: none;
  }
}
.profile-settings {
  width: 100%;
  font-family: "SFProDisplaySemibold", sans-serif;
}

@media screen and (max-width: 425px) {
  .profile-settings {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.profile-settings-form {
  width: calc(480px - 48px);
  height: 824px;
  background: #ffffff;
  margin: 0 0;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 0 24px;
}
.profile-settings-form__form div {
  width: 100%;
  display: flex;
}
.profile-settings-form__form input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
}
.profile-settings-form__form input:focus, .profile-settings-form__form input:active {
  border: solid 1.5px #007fff;
}
.profile-settings-form__form .sex .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #53627c;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile-settings-form__form .sex .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.profile-settings-form__form .sex .container input:checked ~ .checkmark:after {
  display: block;
}
.profile-settings-form__form .sex .container input:checked ~ .checkmark-round:after {
  display: block;
}
.profile-settings-form__form .sex .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid #0c66ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.profile-settings-form__form .sex .container .checkmark-round:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0c66ff;
}
.profile-settings-form__form .sex .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #0c66ff;
  border-radius: 4px;
}
.profile-settings-form__form .sex .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.profile-settings-form__form .sex .checkmark-round {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #0c66ff;
  border-radius: 50%;
}
.profile-settings-form__form .sex .checkmark-round:after {
  content: "";
  position: absolute;
  display: none;
}
.profile-settings-form__form .submit {
  margin-top: 22px;
}
.profile-settings-form__form .submit button {
  width: 100%;
  padding: 14px 0;
  background-color: #0c66ff;
  border-color: #0c66ff;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SFProDisplayMedium", sans-serif;
}
.profile-settings-form__form-bday, .profile-settings-form__form-socnetw, .profile-settings-form__form-mail, .profile-settings-form__form-phone {
  position: relative;
}
.profile-settings-form__form-bday svg, .profile-settings-form__form-socnetw svg, .profile-settings-form__form-mail svg, .profile-settings-form__form-phone svg {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #0a1f44;
}
.profile-settings-form__form-passw, .profile-settings-form__form-new-passw {
  position: relative;
}
.profile-settings-form__form-passw svg, .profile-settings-form__form-new-passw svg {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #a6aebc;
}
.profile-settings-form__form-phone svg {
  right: 20px;
}

@media screen and (max-width: 425px) {
  .profile-settings-form {
    width: calc(100% - 48px);
  }
}
.courses {
  width: calc(100% - 80px);
}
.courses__header {
  display: flex;
  position: relative;
}
.courses__header .page-name {
  font-family: "SFProDisplaySemibold", sans-serif;
  padding: 7px 0;
}

@media screen and (max-width: 425px) {
  .courses {
    padding-top: 20px;
  }
  .courses__header .navigation {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .courses {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: calc(100% - 40px);
    padding-top: 20px !important;
  }
}
.courses-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.courses-list .item {
  width: 315px;
  background: #ffffff;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.courses-list .item:not(:last-child) {
  margin-right: 15px;
}
.courses-list .item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  margin-top: 15px;
}
.courses-list .item .img {
  width: 100%;
  height: 176px;
  position: relative;
}
.courses-list .item .img__status {
  width: 100%;
  height: 100%;
  border-radius: 4px;

  object-fit: cover;
  object-position: 50% 0;
}
.courses-list .item .img__edit {
  width: 32px;
  height: 32px;
  background-color: #0bb07b;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  right: 60px;
}
.courses-list .item .img__edit__icon {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.courses-list .item .img__delete {
  width: 32px;
  height: 32px;
  background-color: #f03d3d;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.courses-list .item .img__delete__icon {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.courses-list .item .description {
  height: calc(144px - 40px);
  border-radius: 3px;
  padding: 20px;
}
.courses-list .item .description-wrap {
  position: relative;
  height: 57px;
  width: 100%;
  overflow: hidden;
}
.courses-list .item .description-wrap:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 200%);
}
.courses-list .item .description-title {
  position: relative;
  height: 28px;
  width: 100%;
  overflow: hidden;
  font-family: "SFProDisplaySemibold", sans-serif;
}
.courses-list .item .description-title:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 350%);
}
.courses-list .item .status {
  color: #ffffff;
  padding: 0 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 4px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  z-index: 1;
}
.courses-list .item .status.open {
  background: #0bb07b;
}
.courses-list .item .status.close {
  background: #f03d3d;
}

@media screen and (max-width: 1941px) and (min-width: 1612px) {
  .courses-list .item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
    margin-top: 15px !important;
  }
}
@media screen and (min-width: 1625px) {
  .courses-list .item {
    margin-right: 0;
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 1301px) and (min-width: 1025px) {
  .courses-list .item:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .courses-list .item {
    margin-right: 0;
  }
  .courses-list .item:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 425px) {
  .courses-list .item {
    margin-right: 0;
  }
  .courses-list .item:not(:first-child) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 375px) {
  .courses-list .item {
    width: 100%;
  }
  .courses-list .item:first-child, .courses-list .item:not(:last-child) {
    margin-right: 0;
  }
  .courses-list .item .img img {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .courses-list .item .img {
    height: auto;
  }
}
.current-course {
  width: 100%;
}
.current-course__header {
  display: flex;
  position: relative;
}
.current-course__header .page-name {
  font-family: "SFProDisplaySemibold", sans-serif;
  padding: 7px 0;
  display: inline-block;
  width: 360px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.current-course__description .page-description {
  width: 100%;
}
.current-course__lesson-table {
  width: 100%;
  height: 544px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
  overflow: hidden;
}
.current-course__lesson-table .row {
  display: flex;
  height: 54px;
  border-bottom: 1px solid #e1e4e8;
  padding: 0 24px;
  line-height: 52px;
  color: #8a94a6;
  cursor: pointer;
}
.current-course__lesson-table .row .name {
  width: 35%;
}
.current-course__lesson-table .row .time {
  width: 17.5%;
}
.current-course__lesson-table .row .task {
  width: 17.5%;
}
.current-course__lesson-table .row .status {
  width: 30%;
}
.current-course__lesson-table .row .name svg, .current-course__lesson-table .row .time svg, .current-course__lesson-table .row .task svg, .current-course__lesson-table .row .status svg {
  margin-right: 9px;
}
.current-course__lesson-table .row.passed {
  color: #0a1f44;
}
.current-course__lesson-table .row.passed .status.pass {
  color: #3ed3a3;
}
.current-course__lesson-table .row.passed .status.process {
  color: #ffa800;
}
.current-course__lesson-table .row.passed .status.process svg {
  transform: rotate(-45deg);
}
.current-course__lesson-table__head .row {
  border-bottom: 2px solid #a6aebc;
}
.current-course__lesson-table__body {
  height: 490px;
  overflow-y: auto;
}
.current-course__lesson-table__body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  border-radius: 10px;
  background-color: #e1e4e8;
}
.current-course__lesson-table__body::-webkit-scrollbar {
  width: 8px;
  background-color: #b5bbc6;
}
.current-course__lesson-table__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  background-color: #b5bbc6;
}

@media screen and (max-width: 1024px) {
  .current-course__header .page-name {
    width: 360px;
  }
  .current-course__header .navigation {
    display: none;
  }
  .current-course__lesson-table__head .time {
    display: none;
  }
  .current-course__lesson-table__head .status, .current-course__lesson-table__head .name, .current-course__lesson-table__head .task {
    width: 33.3% !important;
  }
  .current-course__lesson-table__body .time {
    display: none;
  }
  .current-course__lesson-table__body .status, .current-course__lesson-table__body .name, .current-course__lesson-table__body .task {
    width: 33.3% !important;
  }
}
@media screen and (max-width: 768px) {
  .current-course__header .page-name {
    width: 360px;
  }
  .current-course__header .navigation {
    display: none;
  }
  .current-course__lesson-table__head .time {
    display: none;
  }
  .current-course__lesson-table__head .status, .current-course__lesson-table__head .name, .current-course__lesson-table__head .task {
    width: 33.3% !important;
  }
  .current-course__lesson-table__body .time {
    display: none;
  }
  .current-course__lesson-table__body .status, .current-course__lesson-table__body .name, .current-course__lesson-table__body .task {
    width: 33.3% !important;
  }
}
@media screen and (max-width: 426px) {
  .current-course {
    width: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 20px !important;
  }
  .current-course__header .page-name {
    font-size: 1rem !important;
    width: 73%;
  }
  .current-course__header .navigation {
    display: none;
  }
  .current-course__header .add-course {
    margin: 0;
    line-height: 1;
    width: 31px !important;
  }
  .current-course__header .add-course span:nth-child(1) {
    margin: 0;
  }
  .current-course__header .add-course span:nth-child(2) {
    display: none;
  }
  .current-course__description {
    width: 81%;
  }
  .current-course__lesson-table {
    margin-top: 20px !important;
    width: calc(100% - 20px);
  }
  .current-course__lesson-table__head .time {
    display: none;
  }
  .current-course__lesson-table__head .status, .current-course__lesson-table__head .name, .current-course__lesson-table__head .task {
    width: 33.3% !important;
  }
  .current-course__lesson-table__head .row {
    padding: 0 5px;
  }
  .current-course__lesson-table__head .row .name, .current-course__lesson-table__head .row .status, .current-course__lesson-table__head .row .task {
    font-size: 0.6rem;
    width: 33.3%;
  }
  .current-course__lesson-table__body .time {
    display: none;
  }
  .current-course__lesson-table__body .status, .current-course__lesson-table__body .name, .current-course__lesson-table__body .task {
    width: 33.3% !important;
  }
  .current-course__lesson-table__body .row {
    font-size: 10px;
    padding: 0 5px;
  }
  .current-course__lesson-table__body .row .status, .current-course__lesson-table__body .row .name, .current-course__lesson-table__body .row .task {
    width: 33.3%;
  }
}
@media screen and (max-width: 320px) {
  .current-course__lesson-table__head .status, .current-course__lesson-table__head .name, .current-course__lesson-table__head .task {
    width: 33.3% !important;
  }
  .current-course__lesson-table__head .row {
    padding: 0 5px;
  }
  .current-course__lesson-table__head .row .name, .current-course__lesson-table__head .row .status, .current-course__lesson-table__head .row .task {
    font-size: 0.6rem;
    width: 33.3%;
  }
  .current-course__lesson-table__body .status, .current-course__lesson-table__body .name, .current-course__lesson-table__body .task {
    width: 33.3% !important;
  }
  .current-course__lesson-table__body .row {
    font-size: 7px;
    padding: 0 5px;
  }
  .current-course__lesson-table__body .row .status, .current-course__lesson-table__body .row .name, .current-course__lesson-table__body .row .task {
    width: 33.3%;
  }
}
@media screen and (max-width: 240px) {
  .current-course__header {
    width: 211px;
  }
  .current-course__header .page-name {
    font-size: 0.6rem !important;
  }
  .current-course__header .add-course {
    margin: 0;
    line-height: 1;
  }
  .current-course__header .add-course span {
    font-size: 0.6rem !important;
  }
  .current-course__description {
    font-size: 0.5rem;
  }
  .current-course__lesson-table {
    margin-top: 20px !important;
  }
  .current-course__lesson-table__head .row {
    padding: 0 5px;
  }
  .current-course__lesson-table__head .row .name, .current-course__lesson-table__head .row .status, .current-course__lesson-table__head .row .task {
    font-size: 0.6rem;
    width: 33.3%;
  }
  .current-course__lesson-table__body {
    font-size: 0.6rem;
  }
  .current-course__lesson-table__body .row {
    font-size: 5px;
    padding: 0 5px;
  }
  .current-course__lesson-table__body .row .status, .current-course__lesson-table__body .row .name, .current-course__lesson-table__body .row .task {
    width: 33.3%;
  }
  .current-course__lesson-table__body .row .task div:nth-child(2) {
    display: inline-table !important;
  }
}
.rules__main-block {
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
  padding: 19px 24px;
  color: #0a1f44;
}
.rules__main-block__header {
  font-family: "SFProDisplaySemibold", sans-serif;
}

@media screen and (max-width: 425px) {
  .rules {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: calc(100% - 40px);
    padding-top: 20px !important;
  }
}
@media screen and (max-width: 425px) {
  .rules {
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: calc(100% - 20px);
  }
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-window {
  z-index: 102;
  width: calc(477px - 64px);
  box-shadow: 0 26px 26px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 18px 32px;
}
.modal-window__close {
  position: relative;
}
.modal-window__close-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.modal-window__form__wrap {
  display: flex;
  width: 100%;
}
.modal-window__form input, .modal-window__form textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
}
.modal-window__form input:focus, .modal-window__form input:active, .modal-window__form textarea:focus, .modal-window__form textarea:active {
  border: solid 1.5px #007fff;
}

@media screen and (max-width: 425px) {
  .modal-window {
    padding: 18px 15px;
    width: calc(100% - 60px);
  }
  .modal-window__form__wrap input {
    width: 100% !important;
  }
}
.lesson {
  width: 100%;
}
.lesson__header {
  display: flex;
  position: relative;
}
.lesson__header .page-name {
  font-family: "SFProDisplaySemibold", sans-serif;
  padding: 7px 0;
}
.lesson__body {
  display: block;
}
.lesson__body-row {
  display: flex;
}
.lesson__body-row__source {
  width: 60%;
  height: 384px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background: #ffffff;
  position: relative;
}
.lesson__body-row__source-img {
  width: 100%;
  height: 320px;
}
.lesson__body-row__source-img img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.lesson__body-row__source-list {
  padding: 11px 16px;
}
.lesson__body-row__source-list-button {
  cursor: pointer;
}
.lesson__body-row__task {
  width: 40%;
  height: calc(384px - 36px);
  padding: 18px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background: #ffffff;
  position: relative;
}
.lesson__body-row__task-text {
  overflow-y: auto;
  height: 296px;
}
.lesson__body-row__task-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  border-radius: 10px;
  background-color: #e1e4e8;
}
.lesson__body-row__task-text::-webkit-scrollbar {
  width: 8px;
  background-color: #b5bbc6;
}
.lesson__body-row__task-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  background-color: #b5bbc6;
}
.lesson__body-row__task-download {
  padding-top: 16px;
}
.lesson__body-row__task-download-button {
  cursor: pointer;
}
.lesson__body-row__task__header {
  display: flex;
  justify-content: space-between;
}
.lesson__body-row__task__body textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(248px - 32px);
}
.lesson__body-row__task__body textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  border-radius: 10px;
  background-color: #e1e4e8;
}
.lesson__body-row__task__body textarea::-webkit-scrollbar {
  width: 8px;
  background-color: #b5bbc6;
}
.lesson__body-row__task__body textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  background-color: #b5bbc6;
}
.lesson__body-row__task__body textarea:focus, .lesson__body-row__task__body textarea:active {
  border: solid 1.5px #007fff;
}
.lesson__body-row__task__body__buttons {
  display: flex;
  justify-content: space-between;
}
.lesson__body-row__advices {
  width: calc(60% - 48px);
  height: calc(384px - 34px);
  padding: 17px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background: #ffffff;
  position: relative;
  overflow-y: auto;
}
.lesson__body-row__advices::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  border-radius: 10px;
  background-color: #e1e4e8;
}
.lesson__body-row__advices::-webkit-scrollbar {
  width: 8px;
  background-color: #b5bbc6;
}
.lesson__body-row__advices::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  background-color: #b5bbc6;
}

@media screen and (max-width: 768px) {
  .lesson {
    width: calc(100% - 20px);
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
  }
  .lesson__header .navigation {
    display: none;
  }
  .lesson__body-row {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .lesson__body-row__source {
    width: 100%;
  }
  .lesson__body-row__task {
    margin-left: 0 !important;
    width: 100%;
    margin-top: 16px;
  }
  .lesson__body-row__advices {
    width: 100%;
  }
}
@media screen and (max-width: 240px) {
  .lesson__body-row__task {
    height: auto;
    padding: 18px 15px;
  }
  .lesson__body-row__task__header div, .lesson__body-row__task__header span {
    font-size: 0.7rem !important;
  }
  .lesson__body-row__task__body textarea {
    padding: 14px;
  }
  .lesson__body-row__task__body__buttons input {
    width: 100%;
  }
  .lesson__body-row__task__body__buttons button, .lesson__body-row__task__body__buttons span {
    font-size: 0.5rem;
  }
}
.edit-lesson {
  width: 100%;
}
.edit-lesson__header {
  display: flex;
  position: relative;
}
.edit-lesson__header .page-name {
  font-family: "SFProDisplaySemibold", sans-serif;
  padding: 7px 0;
}
.edit-lesson__body {
  display: flex;
  position: relative;
}
.edit-lesson__body__column:nth-child(1) {
  width: 645px;
}
.edit-lesson__body__column:nth-child(2) {
  width: 315px;
}
.edit-lesson__body__column-editor .tox.tox-tinymce {
  border: 1px solid #e1e4e8;
}
.edit-lesson__body__column__video-links {
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
  margin-top: 32px;
}
.edit-lesson__body__column__video-links-action {
  margin-top: 23px;
  display: flex;
}
.edit-lesson__body__column__video-links-action .button {
  color: #0c66ff;
  padding: 16px;
}
.edit-lesson__body__column__video-links-action .input {
  width: calc(468px - 40px - 16px);
  padding: 16px 40px 16px 16px;
}
.edit-lesson__body__column__video-links-action .link-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #e1e4e8;
}
.edit-lesson__body__column-tasks {
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
}
.edit-lesson__body__column-tasks textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 32px);
  height: calc(125px - 26px);
  padding: 13px 16px;
  margin-top: 23px;
}
.edit-lesson__body__column-tasks textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  border-radius: 10px;
  background-color: #e1e4e8;
}
.edit-lesson__body__column-tasks textarea::-webkit-scrollbar {
  width: 8px;
  background-color: #b5bbc6;
}
.edit-lesson__body__column-tasks textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #b5bbc6;
  background-color: #b5bbc6;
}
.edit-lesson__body__column-tasks textarea:focus, .edit-lesson__body__column-tasks textarea:active {
  border: solid 1.5px #007fff;
}
.edit-lesson__body__column-save {
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
}
.edit-lesson__body__column-save-buttons {
  display: flex;
  margin-top: 19px;
}
.edit-lesson__body__column-save-buttons .button {
  padding: 14px;
}
.edit-lesson__body__column-expiry {
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
}
.edit-lesson__body__column-expiry .download-file-toggle {
  display: flex;
  margin-top: 9px;
}
.edit-lesson__body__column-clickbate {
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  background-color: #ffffff;
}
.edit-lesson__body__column-clickbate .set-clickbate {
  display: flex;
  margin-top: 23px;
}
.edit-lesson__body__column-clickbate .set-clickbate .fa-image {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #a6aebc;
}
.edit-lesson__body__column-clickbate .set-clickbate .input {
  width: calc(203px - 40px - 16px);
  color: #a6aebc;
}
.edit-lesson__body__column-clickbate .set-clickbate .button {
  padding: 17px 17px;
}
.edit-lesson__body__column-clickbate .image-filled {
  width: 100%;
}
.edit-lesson__body__column-clickbate .image-filled img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .edit-lesson {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .edit-lesson__body__column:nth-child(1) {
    width: 59%;
  }
  .edit-lesson__body__column:nth-child(2) {
    width: 39%;
  }
  .edit-lesson__body__column__video-links-action {
    width: 100%;
  }
  .edit-lesson__body__column__video-links-action__wrap {
    width: 100%;
  }
  .edit-lesson__body__column__video-links-action__wrap input {
    width: calc(100% - 40px - 32px) !important;
  }
}
@media screen and (max-width: 768px) {
  .edit-lesson__body {
    flex-wrap: wrap;
  }
  .edit-lesson__body__column {
    width: 100% !important;
  }
  .edit-lesson__body__column:nth-child(2) {
    margin-left: 0;
    margin-top: 16px;
  }
}
@media screen and (max-width: 426px) {
  .edit-lesson .navigation {
    display: none;
  }
}
@media screen and (max-width: 240px) {
  .edit-lesson__body__column-clickbate button {
    display: none;
  }
}
.routing {
  position: relative;
  top: 64px;
  left: 224px;
  width: calc(100% - 224px);
}

@media screen and (max-width: 768px) {
  .routing {
    width: 100%;
    left: 0;
  }
}
.footer {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f8f9fb;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "SFProDisplayMedium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.tox-notification {
  display: none !important;
}

body, textarea, button, a, input, input::placeholder, textarea::placeholder {
  font-family: "SFProDisplayMedium", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

p {
  margin: 0 !important;
}

.align-center {
  text-align: center;
}

input::placeholder, textarea::placeholder {
  color: #a6aebc;
  font-size: 14px;
  line-height: 20px;
}

.App {
  width: 100%;
}

.line {
  border-top: 1px solid #a6aebc;
  height: 2px;
  margin: 30px 0 18px 0;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.ml-14 {
  margin-left: 14px;
}

.mt-16 {
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-18 {
  margin-top: 18px;
}

.mb-18 {
  margin-bottom: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.pt-18 {
  padding-top: 18px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-26 {
  padding-left: 26px;
}

.pr-26 {
  padding-right: 26px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-64 {
  padding-top: 64px;
}

.lh-16 {
  line-height: 16px;
}

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

.notification {
  padding: 14px 18px;
  position: absolute;
  right: 0;
  z-index: 101;
  background-color: #ffffff;
  box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 4px;
}
.notification__close {
  color: #8a94a6;
  position: relative;
  top: 1px;
  margin-left: 14px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .notification {
    margin-left: 0 !important;
    left: 0;
  }
}
@media screen and (max-width: 375px) {
  .notification {
    font-size: 9px;
    padding: 14px 18px;
    width: fit-content;
  }
}
@media screen and (max-width: 240px) {
  .notification {
    font-size: 9px;
    padding: 14px 8px;
  }
  .notification__close {
    margin-left: 8px;
  }
}
.add-course {
  border: 0;
  background-color: #0bb07b;
  color: #ffffff;
  font-family: "SFProDisplayMedium", sans-serif;
  outline: none;
  cursor: pointer;
  padding-bottom: 8px;
  border-radius: 4px;
  margin-top: 8px;
}
.add-course.general-add-course {
  width: 162px;
  height: 31px;
}
.add-course.modal-add-course {
  width: 172px;
  height: 48px;
  padding-bottom: 0;
  margin-top: 0;
}

.delete-course {
  border: 0;
  background-color: #f03d3d;
  color: #FFFFFF;
  font-family: "SFProDisplayMedium", sans-serif;
  outline: none;
  cursor: pointer;
  padding-bottom: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.delete-course.modal-delete-course {
  width: 172px;
  height: 48px;
  padding-bottom: 0;
  margin-top: 0;
}

.cancel-button {
  width: 128px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #e1e4e8;
  outline: none;
  cursor: pointer;
  font-family: "SFProDisplayMedium", sans-serif;
  background: #ffffff;
  color: #53627c;
}

.next-lesson {
  width: 174px;
  height: 48px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "SFProDisplayMedium", sans-serif;
  background: #0c66ff;
  color: #ffffff;
}

.navigation {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.button {
  font-family: "SFProDisplayMedium", sans-serif;
  font-size: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 11px 9px;
  border: 1px solid #e1e4e8;
  color: #0a1f44;
}
.button.selected-button {
  background-color: #0c66ff;
  color: #ffffff;
}
.button.green-button {
  background-color: #0bb07b;
  color: #ffffff;
}
.button.delete-button {
  background-color: #f03d3d;
  border-radius: 4px;
  border: 0;
  margin-left: 16px;
  outline: none;
  cursor: pointer;
  padding: 16px 20px;
}
.button.delete-button .trash-icon {
  color: #ffffff;
}
.button.attach-button {
  background-color: #0c66ff;
  border-radius: 4px;
  border: 0;
  margin-left: 16px;
  outline: none;
  cursor: pointer;
  padding: 16px 20px;
}
.button.attach-button .attach-icon {
  color: #ffffff;
}
.button.vermillion {
  color: #dd2727;
  border-color: #dd2727;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #22c993;
}
input:focus + .slider {
  box-shadow: 0 0 1px #22c993;
}
input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e1e4e8;
  padding: 14px 40px 14px 16px;
}

.input:focus, .input:active {
  border: solid 1.5px #007fff;
}

.dropdown-menu__wrap {
  display: flex;
  position: relative;
  z-index: 99;
}
.dropdown-menu__wrap input:disabled {
  background-color: #ffffff;
  cursor: pointer;
}
.dropdown-menu__wrap .fa-chevron-down {
  position: absolute;
  right: 16px;
  top: 16px;
}
.dropdown-menu__wrap-menu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  padding: 16px 0;
  width: 100%;
  top: 50px;
  border-radius: 4px;
}
.dropdown-menu__wrap-menu.show {
  display: block;
}
.dropdown-menu__wrap-menu.hide {
  display: none;
}
.dropdown-menu__wrap-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.dropdown-menu__wrap-menu ul li {
  padding: 15px 16px;
  border-bottom: 1px solid #e1e4e8;
  cursor: pointer;
}
.dropdown-menu__wrap-menu ul li:first-child {
  border-bottom: 1px solid #e1e4e8;
  border-top: 1px solid #e1e4e8;
}
.dropdown-menu__wrap-menu ul li.selected {
  background-color: #0c66ff;
  color: #ffffff;
}
.dropdown-menu__wrap-menu ul li:active {
  background-color: #0c66ff !important;
  color: #ffffff !important;
}
.dropdown-menu__wrap-menu ul li:hover {
  background-color: #e1e4e8;
  color: #0a1f44;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}


/*# sourceMappingURL=index.css.map */
