@import 'mixins'
@import 'colors'
@import 'fonts'

@import 'header'
@import 'body'
@import 'footer'
// -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
html
    width: 100%
    height: 100%
    position: relative
    background: $pale-grey

body
    width: 100%
    height: 100%
    position: relative
    margin: 0
    padding: 0
    font-family: "SFProDisplayMedium", sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    overflow-x: hidden

.tox-notification
    display: none !important

body, textarea, button, a, input, input::placeholder, textarea::placeholder
    font-family: "SFProDisplayMedium", sans-serif
    -webkit-font-smoothing: antialiased

a
    text-decoration: none
p
    margin: 0!important

.align-center
    text-align: center

input::placeholder, textarea::placeholder
    color: $light-grey-blue
    font-size: 14px
    line-height: 20px

.App
    width: 100%
    // height: 100vh

.line
    border-top: 1px solid $light-grey-blue
    height: 2px
    margin: 30px 0 18px 0

.mb-6
    margin-bottom: 6px
.mt-6
    margin-top: 6px
.mt-8
    margin-top: 8px
.ml-8
    margin-left: 8px
.mt-10
    margin-top: 10px
.mr-10
    margin-right: 10px
.ml-10
    margin-left: 10px
.mt-12
    margin-top: 12px
.ml-14
    margin-left: 14px
.mt-16
    margin-top: 16px
.ml-16
    margin-left: 16px
.mt-18
    margin-top: 18px
.mb-18
    margin-bottom: 18px
.ml-20
    margin-left: 20px
.mt-20
    margin-top: 20px
.mt-24
    margin-top: 24px
.ml-24
    margin-left: 24px
.mt-30
    margin-top: 30px
.mt-40
    margin-top: 40px
.ml-40
    margin-left: 40px

.pt-18
    padding-top: 18px
.pb-18
    padding-bottom: 18px
.pl-24
    padding-left: 24px
.pl-26
    padding-left: 26px
.pr-26
    padding-right: 26px
.pt-24
    padding-top: 24px
.pt-30
    padding-top: 30px
.pb-30
    padding-bottom: 30px
.pt-40
    padding-top: 40px
.pl-40
    padding-left: 40px
.pr-40
    padding-right: 40px
.pt-40
    padding-top: 40px
.pt-64
    padding-top: 64px

.lh-16
    line-height: 16px
.lh-20
    line-height: 20px
.lh-24
    line-height: 24px

.notification
    padding: 14px 18px
    position: absolute
    right: 0
    z-index: 101
    background-color: $white
    box-shadow: 0 18px 18px 0 $dark-indigo_0, 0 0 1px 0 $dark-indigo_1
    border-radius: 4px
    &__close
        color: $blue-grey
        position: relative
        top: 1px
        margin-left: 14px
        cursor: pointer

@media screen and (max-width: 425px)
    .notification
        margin-left: 0!important
        left: 0

@media screen and (max-width: 375px)
    .notification
        font-size: 9px
        padding: 14px 18px
        width: fit-content

@media screen and (max-width: 240px)
    .notification
        font-size: 9px
        padding: 14px 8px
        &__close
            margin-left: 8px

// BUTTON
.add-course
    border: 0
    background-color: $green-teal
    color: $white
    font-family: "SFProDisplayMedium", sans-serif
    outline: none
    cursor: pointer
    padding-bottom: 8px
    border-radius: 4px
    margin-top: 8px
    &.general-add-course
        width: 162px
        height: 31px
    &.modal-add-course
        width: 172px
        height: 48px
        padding-bottom: 0
        margin-top: 0

.delete-course
    border: 0
    background-color: $green-teal
    color: $white
    font-family: "SFProDisplayMedium", sans-serif
    outline: none
    cursor: pointer
    padding-bottom: 8px
    border-radius: 4px
    margin-top: 8px
    &.modal-delete-course
        width: 172px
        height: 48px
        padding-bottom: 0
        margin-top: 0
        background-color: $orange-red

.cancel-button
    width: 128px
    height: 48px
    border-radius: 4px
    border: 1px solid $pale-blue
    outline: none
    cursor: pointer
    font-family: "SFProDisplayMedium", sans-serif
    background: $white
    color: $slate

.next-lesson
    width: 174px
    height: 48px
    border-radius: 4px
    border: 0
    outline: none
    cursor: pointer
    font-family: "SFProDisplayMedium", sans-serif
    background: $blue
    color: $white
// BUTTON END

.navigation
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    display: inline-block
    width: 180px
    white-space: nowrap
    overflow: hidden !important
    text-overflow: ellipsis

.button
    font-family: "SFProDisplayMedium", sans-serif
    font-size: 12px
    border-radius: 4px
    background-color: $white
    outline: none
    cursor: pointer
    padding: 11px 9px
    border: 1px solid $pale-blue
    color: $dark-indigo
    &.selected-button
        background-color: $blue
        color: $white
    &.green-button
        background-color: $green-teal
        color: $white
    &.delete-button
        background-color: blue
        border-radius: 4px
        border: 0
        margin-left: 16px
        outline: none
        cursor: pointer
        padding: 16px 20px
        .trash-icon
            color: $white
    &.attach-button
        background-color: $blue
        border-radius: 4px
        border: 0
        margin-left: 16px
        outline: none
        cursor: pointer
        padding: 16px 20px
        .attach-icon
            color: $white
    &.vermillion
        color: $vermillion
        border-color: $vermillion

// === SWITCH ===
.switch
    position: relative
    display: inline-block
    width: 32px
    height: 18px
    input
        opacity: 0
        width: 0
        height: 0

.slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    -webkit-transition: .4s
    transition: .4s
    &:before
        position: absolute
        content: ""
        height: 10px
        width: 10px
        left: 4px
        bottom: 4px
        background-color: white
        -webkit-transition: .4s
        transition: .4s

input
    &:checked + .slider
        background-color: $green-blue
    &:focus + .slider
        box-shadow: 0 0 1px $green-blue
    &:checked + .slider:before
        -webkit-transform: translateX(14px)
        -ms-transform: translateX(14px)
        transform: translateX(14px)

/* Rounded sliders

.slider.round
    border-radius: 34px
    &:before
        border-radius: 50%
// === SWITCH END ===

.input
    +inputStyle()
.input:focus, .input:active
    +inputHoverStyle()

.dropdown-menu
    &__wrap
        display: flex
        position: relative
        z-index: 99
        // flex-wrap: wrap
        input:disabled
            background-color: $white
            cursor: pointer
        .fa-chevron-down
            position: absolute
            right: 16px
            top: 16px
        &-menu
            position: absolute
            background-color: $white
            border: 1px solid $pale-blue
            padding: 16px 0
            width: 100%
            top: 50px
            border-radius: 4px
            &.show
                display: block
            &.hide
                display: none
            ul
                list-style-type: none
                padding-left: 0
                margin: 0
                li
                    padding: 15px 16px
                    border-bottom: 1px solid $pale-blue
                    cursor: pointer
                li:first-child
                    border-bottom: 1px solid $pale-blue
                    border-top: 1px solid $pale-blue
                li.selected
                    background-color: $blue
                    color: $white
                li:active
                    background-color: $blue!important
                    color: $white!important
                li:hover
                    background-color: $pale-blue
                    color: $dark-indigo

.noselect
    -webkit-touch-callout: none // iOS Safari
    -webkit-user-select: none // Safari
    -khtml-user-select: none // Konqueror HTML
    -moz-user-select: none // Firefox
    -ms-user-select: none // Internet Explorer/Edge
    user-select: none // Non-prefixed version, currently supported by Chrome and Opera

.hide
    display: none!important
.show
    display: block!important
