.lesson
    width: 100%
    &__header
        display: flex
        // justify-content: space-between
        position: relative
        .page-name
            font-family: "SFProDisplaySemibold", sans-serif
            padding: 7px 0
    &__body
        display: block
        &-row
            display: flex
            &__source
                width: 60% // 562px
                height: 384px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background: $white
                position: relative
                &-img
                    width: 100%
                    height: 320px
                    img
                        width: 100%
                        border-top-right-radius: 4px
                        border-top-left-radius: 4px
                &-list
                    padding: 11px 16px
                    // height: calc(384px - 320px - 32px)
                    &-button
                        cursor: pointer
            &__task
                width: 40% // calc(397px - 48px)
                height: calc(384px - 36px)
                padding: 18px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background: $white
                position: relative
                &-text
                    overflow-y: auto
                    height: 296px
                    &::-webkit-scrollbar-track
                        -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                        border-radius: 10px
                        background-color: $pale-blue
                    &::-webkit-scrollbar
                        width: 8px
                        background-color: $cloudy-blue
                    &::-webkit-scrollbar-thumb
                        border-radius: 10px
                        -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                        background-color: $cloudy-blue
                &-download
                    // height: calc(384px - 320px - 32px)
                    padding-top: 16px
                    &-button
                        cursor: pointer
                &__header
                    display: flex
                    justify-content: space-between
                &__body 
                    textarea
                        resize: none
                        +inputStyle()
                        overflow-y: auto
                        overflow-x: hidden
                        height: calc(248px - 32px)
                        &::-webkit-scrollbar-track
                            -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                            border-radius: 10px
                            background-color: $pale-blue
                        &::-webkit-scrollbar
                            width: 8px
                            background-color: $cloudy-blue
                        &::-webkit-scrollbar-thumb
                            border-radius: 10px
                            -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                            background-color: $cloudy-blue
                    textarea:focus, textarea:active
                        +inputHoverStyle()
                    &__buttons
                        display: flex
                        justify-content: space-between
                        
            &__advices
                width: calc(60% - 48px) // calc(562px - 48px)
                height: calc(384px - 34px)
                padding: 17px 24px
                border-radius: 4px
                box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
                background: $white
                position: relative
                overflow-y: auto
                &::-webkit-scrollbar-track
                    -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                    border-radius: 10px
                    background-color: $pale-blue
                &::-webkit-scrollbar
                    width: 8px
                    background-color: $cloudy-blue
                &::-webkit-scrollbar-thumb
                    border-radius: 10px
                    -webkit-box-shadow: inset 0 0 6px $cloudy-blue
                    background-color: $cloudy-blue
    
// MOBILE
@media screen and (max-width: 320px)
@media screen and (max-width: 425px)
@media screen and (max-width: 1024px)
@media screen and (max-width: 768px)
    .lesson
        width: calc(100% - 20px)
        padding-left: 10px!important
        padding-right: 10px!important
        padding-top: 10px!important
        &__header
            .navigation
                display: none
        &__body-row
            width: 100%
            height: auto
            flex-wrap: wrap
            &__source
                width: 100%
            &__task
                margin-left: 0!important
                width: 100%
                margin-top: 16px
            &__advices
                width: 100%
@media screen and (max-width: 240px)
    .lesson
        &__body-row
            &__task
                height: auto
                padding: 18px 15px
                &__header
                    div, span
                        font-size: 0.7rem!important
                &__body
                    textarea
                        padding: 14px
                    &__buttons
                        input
                            width: 100%
                        button, span
                            font-size: 0.5rem