@mixin center-text-in-center($lineHeight)
    text-align: center
    vertical-align: middle
    line-height: $lineHeight
@mixin block($width, $height, $padding, $margin)
    width: $width
    height: $height
    background: $white
    margin: $margin
    box-shadow: 0 18px 18px 0 $dark-indigo_0, 0 0 1px 0 $dark-indigo_1
    border-radius: 4px
    padding: $padding
@mixin buttonStyle()
    width: 100%
    padding: 14px 0
    background-color: $blue
    border-color: $blue
    color: $white
    border: 0
    border-radius: 4px
    cursor: pointer
    font-family: "SFProDisplayMedium", sans-serif
@mixin inputStyle()
    width: 100%
    border-radius: 4px
    border: solid 1px $pale-blue
    padding: 14px 40px 14px 16px
@mixin inputHoverStyle()
    border: solid 1.5px $deep-sky-blue
@mixin logoStyle()
    width: 98.7px
    height: 70px
    margin: 0 auto
    padding: 40px 0 24px 0
    img
        width: 100%
@mixin linkStyle()
    color: $blue_1
    margin: 0 auto
    cursor: pointer
@mixin checkBoxStyle()
    .container
        display: block
        position: relative
        padding-left: 35px
        margin-bottom: 12px
        cursor: pointer
        color: $slate
        font-size: 14px
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        input
            position: absolute
            opacity: 0
            cursor: pointer
            height: 0
            width: 0
            &:checked ~ .checkmark:after
                display: block
            &:checked ~ .checkmark-round:after
                display: block
        .checkmark:after
            left: 5px
            top: 1px
            width: 3px
            height: 10px
            border: solid $blue
            border-width: 0 2px 2px 0
            -webkit-transform: rotate(45deg)
            -ms-transform: rotate(45deg)
            transform: rotate(45deg)
        .checkmark-round:after
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 7px
            height: 7px
            border-radius: 50%
            background-color: $blue
    .checkmark
        position: absolute
        top: 0
        left: 0
        height: 14px
        width: 14px
        border: 2px solid $blue
        border-radius: 4px
        &:after
            content: ""
            position: absolute
            display: none
    .checkmark-round
        position: absolute
        top: 0
        left: 0
        height: 14px
        width: 14px
        border: 2px solid $blue
        border-radius: 50%
        &:after
            content: ""
            position: absolute
            display: none

@mixin multiTextBreaking($height, $gradient)
    position: relative
    height: $height
    width: 100%
    // margin: 0 0 1em 0
    overflow: hidden
    &:after
        content: ""
        text-align: right
        position: absolute
        bottom: 0
        right: 0
        width: 100%
        height: 1.2em
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) $gradient)