.profile-settings
    width: 100%
    font-family: "SFProDisplaySemibold", sans-serif

@media screen and (max-width: 425px)
    .profile-settings
        padding-left: 15px!important
        padding-right: 15px!important