.routing
    position: relative
    top: 64px
    left: 224px
    width: calc(100% - 224px)

// MOBILE     
@media screen and (max-width: 768px)
    .routing
        width: 100%
        left: 0
        
@media screen and (max-device-width: 480px)

@media screen and (min-device-width: 768px)

// IPAD
@media screen and (orientation: landscape)

@media screen and (orientation: portrait)

// COMBINATION
@media screen and (min-width: 800px) and (max-width: 1200px)