.rules
    &__main-block
        border-radius: 4px
        box-shadow: 0 3px 4px 0 $dark-indigo_1, 0 0 1px 0 $dark-indigo_8
        background-color: $white
        padding: 19px 24px
        color: $dark-indigo
        &__header
            font-family: "SFProDisplaySemibold", sans-serif

// MOBILE     
@media screen and (max-width: 425px)
    .rules
        padding-left: 20px!important
        padding-right: 20px!important
        width: calc(100% - 40px)
        padding-top: 20px!important

@media screen and (max-width: 425px)
    .rules
        padding-left: 10px!important
        padding-right: 10px!important
        width: calc(100% - 20px)