.courses-list
    width: 100%
    display: flex
    flex-wrap: wrap
    .item
        width: 315px
        background: $white
        box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08)
        position: relative
        cursor: pointer
        border-radius: 4px
        &:not(:last-child)
            margin-right: 15px
        &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
            margin-top: 15px
        .img
            width: 100%
            height: 100%
            height: 176px
            position: relative
            &__status
                width: 100%
                height: 100%
                border-radius: 4px
            &__edit
                width: 32px
                height: 32px
                background-color: $green-teal
                border-radius: 4px
                position: absolute
                top: 20px
                right: 60px
                &__icon
                    color: $white
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
            &__delete
                width: 32px
                height: 32px
                background-color: $orange-red
                border-radius: 4px
                position: absolute
                top: 20px
                right: 20px
                &__icon
                    color: $white
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
        .description
            height: calc(144px - 40px)
            border-radius: 3px
            padding: 20px
            &-wrap
                +multiTextBreaking(57px, 200%)
            &-title
                +multiTextBreaking(28px, 350%)
                font-family: "SFProDisplaySemibold", sans-serif

        .status
            color: $white
            padding: 0 10px
            position: absolute
            top: 20px
            left: 20px
            border-radius: 4px
            font-size: 11px
            text-align: center
            vertical-align: middle
            line-height: 24px
            z-index: 1
            &.open
                background: $green-teal
            &.close
                background: $orangey-red

// MOBILE     
@media screen and (max-width: 1941px) and (min-width: 1612px)
    .courses-list
        .item
            &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4))
                margin-top: 15px!important

@media screen and (min-width: 1625px)
    .courses-list
        .item
            margin-right: 0
            margin-top: 0!important

@media screen and (max-width: 1301px) and (min-width: 1025px)
    .courses-list
        .item
             &:not(:nth-child(1)):not(:nth-child(2))
                 margin-top: 15px

@media screen and (max-width: 1024px)
    .courses-list
        .item
            margin-right: 0
            &:not(:nth-child(1)):not(:nth-child(2))
                margin-top: 15px

@media screen and (max-width: 425px)
    .courses-list
        .item
            margin-right: 0
            &:not(:first-child)
                margin-top: 15px

@media screen and (max-width: 375px)
    .courses-list
        .item
            width: 100%
            &:first-child, &:not(:last-child)
                margin-right: 0
            .img
                img
                    width: 100%

@media screen and (max-width: 320px)
    .courses-list
        .item
            .img
                height: auto

@media screen and (max-device-width: 480px)

@media screen and (min-device-width: 768px)

// IPAD
@media screen and (orientation: landscape)

@media screen and (orientation: portrait)

// COMBINATION
@media screen and (min-width: 800px) and (max-width: 1200px)