.fill-profile
    +block(360px, 635px, 0px 60px, 60px auto)
    .logo
        +logoStyle()
    &__form
        div
            width: 100%
            display: flex
        input
            +inputStyle()
        input:focus, input:active
            +inputHoverStyle()
        .sex
            +checkBoxStyle()
        .submit
            margin-top: 22px
            button
                +buttonStyle()
        .forget-passw
            a
                +linkStyle()


// MOBILE     
@media screen and (max-width: 425px)
    .fill-profile
        width: calc(100% - 120px)
        padding: 0 30px

@media screen and (max-width: 240px)
    .fill-profile
        padding: 0 15px
        width: calc(100% - 30px)