.left-menu
    +block(224px, 736px, 30px 0, 0)
    border-radius: 0
    position: relative
    min-width: 224px
    max-width: 225px
    float: left
    height: calc(100vh - 127px)
    box-shadow: 3px 0 4px 0 rgba(10, 31, 68, 0.1)
    .select-item
        &.active
            border-left: 2px solid $blue_1
            color: $blue_1
        cursor: pointer
        color: $light-grey-blue
        padding-right: 32px
        padding-left: 23px
    &__footer
        position: absolute
        bottom: 9px

// MOBILE     
@media screen and (max-width: 768px)
    .left-menu
        display: none
    
        
@media screen and (max-device-width: 480px)

@media screen and (min-device-width: 768px)

// IPAD
@media screen and (orientation: landscape)

@media screen and (orientation: portrait)

// COMBINATION
@media screen and (min-width: 800px) and (max-width: 1200px)