.login
    +block(360px, 512px, 0px 60px, 60px auto)
    .logo
        +logoStyle()
    &__form
        div
            width: 100%
            display: flex
        input
            +inputStyle()
        input:focus, input:active
            +inputHoverStyle()
        input:nth-child(1), input:nth-child(2)
            margin-top: 24px
        .remember-me
            margin-top: 20px
            +checkBoxStyle()
        .submit
            margin-top: 22px
            button
                +buttonStyle()
        .forget-passw
            a
                +linkStyle()
        &__phone-wrap
            position: relative
            svg
                position: absolute
                top: 38px
                right: 20px
                color: $light-grey-blue
        &__password-wrap
            position: relative
            svg
                position: absolute
                top: 38px
                right: 16px
                color: $light-grey-blue

// MOBILE     
@media screen and (max-width: 320px)
    .login
        width: calc(100% - 40px)
        height: auto
        padding: 0 20px 40px 20px

@media screen and (max-device-width: 425px)
    .login
        padding: 0 20px 20px 20px
@media screen and (min-device-width: 768px)

// IPAD
@media screen and (orientation: landscape)

@media screen and (orientation: portrait)

// COMBINATION
@media screen and (min-width: 800px) and (max-width: 1200px)