.modal
    width: 100%
    height: 100%
    background-color: $black-5
    // border: solid 1px $deep-sky-blue
    z-index: 110
    position: fixed
    top: 0
    left: 0

.modal-window
    z-index: 102
    width: calc(477px - 64px)
    // height: calc(494px - 36px)
    box-shadow: 0 26px 26px 0 $dark-indigo_0, 0 0 1px 0 $dark-indigo_1
    background-color: $white
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 4px
    padding: 18px 32px
    &__close
        position: relative
        &-icon
            position: absolute
            right: 0
            cursor: pointer
    // &__description
    &__form
        &__wrap
            display: flex
            width: 100%
        input, textarea
            resize: none
            +inputStyle()
        input:focus, input:active, textarea:focus, textarea:active
            +inputHoverStyle()

// MOBILE     
@media screen and (max-width: 425px)
    .modal-window
        padding: 18px 15px
        width: calc(100% - 60px)
        &__form
            &__wrap
                input
                    width: 100%!important

@media screen and (max-width: 240px)
    .modal-window
        