.profile-settings-form
    +block(calc(480px - 48px), 824px, 0 24px, 0 0)
    &__form
        div
            width: 100%
            display: flex
        input
            +inputStyle()
        input:focus, input:active
            +inputHoverStyle()
        .sex
            +checkBoxStyle()
        .submit
            margin-top: 22px
            button
                +buttonStyle()
        &-bday, &-socnetw, &-mail, &-phone
            position: relative
            svg
                position: absolute
                top: 16px
                right: 16px
                color: $dark-indigo
        &-passw, &-new-passw
            position: relative
            svg
                position: absolute
                top: 16px
                right: 16px
                color: $light-grey-blue
        &-phone
            svg
                right: 20px

// MOBILE     
@media screen and (max-width: 425px)
    .profile-settings-form
        width: calc(100% - 48px)

@media screen and (max-width: 240px)
    .profile-settings-form
        