.restore-passw
    +block(360px, 430px, 0px 60px, 60px auto)
    .logo
        +logoStyle()
    &__form
        div
            width: 100%
            display: flex
        input
            +inputStyle()
        input:focus, input:active
            +inputHoverStyle()
        .submit
            margin-top: 22px
            button
                +buttonStyle()
        .returnToAuth
            a
                +linkStyle()
        &__phone-wrap, &__email-code-wrap
            position: relative
            svg
                position: absolute
                top: 16px
                right: 16px
                color: $light-grey-blue

// MOBILE     

@media screen and (max-width: 425px)
    .restore-passw
        width: calc(100% - 40px)
        padding: 0 20px 20px 20px

@media screen and (max-width: 320px)
    .restore-passw
        width: calc(100% - 40px)
        height: auto
        padding: 0 20px 40px 20px
    

@media screen and (min-device-width: 768px)

// IPAD
@media screen and (orientation: landscape)

@media screen and (orientation: portrait)

// COMBINATION
@media screen and (min-width: 800px) and (max-width: 1200px)